@import 'tailwindcss';

@font-face {
    font-family: 'Sixtyfour';
    src: url('/fonts/Sixtyfour/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doto';
    src: url('/fonts/Doto/Doto-VariableFont_ROND,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Datatype';
    src: url('/fonts/Datatype/Datatype-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'BJ Cree';
    src: url('/fonts/BJ_Cree/BJCree-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BJ Cree';
    src: url('/fonts/BJ_Cree/BJCree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BJ Cree';
    src: url('/fonts/BJ_Cree/BJCree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BJ Cree';
    src: url('/fonts/BJ_Cree/BJCree-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Barcode';
    src: url('/fonts/LibreBarcode39ExtendedText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}